.anton,
.dani,
.ida {
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: top;
  border-radius: 50%;
}

.about {
  line-height: 1.5rem;
  margin-bottom: 30px;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.picontainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

@media screen and (max-width: 768px) {
  .container {
    height: auto;
    padding: 20px;
  }

  .picontainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .anton,
  .dani,
  .ida {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
  }

  .mobileOnly {
    display: none;
  }
}

@media screen and (min-width: 769px) {
  .container {
    height: 100vh;
  }

  .picontainer {
    justify-content: space-evenly;
  }

  .anton,
  .dani,
  .ida {
    width: 200px;
    height: 200px;
    margin-bottom: 0;
  }

  .idacard,
  .danicard,
  .antoncard {
    width: 350px;
    height: 350px;
    margin: 0 20px;
  }

  .idacard .about,
  .danicard .about,
  .antoncard .about {
    margin-top: 20px;
  }

  .mobileOnly {
    display: block;
  }
}

.idacard,
.danicard,
.antoncard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #ffffff;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.idacard:hover,
.danicard:hover,
.antoncard:hover {
  box-shadow: 0px 8px 20px rgba(1, 1, 1, 1);
}

.about {
  margin-top: 1rem;
  font-size: 1.1rem;
  line-height: 1.5rem;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .idacard,
  .danicard,
  .antoncard {
    width: 300px;
    height: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-sizing: border-box;
  }

  .idacard .about,
  .danicard .about,
  .antoncard .about {
    margin-top: 20px;
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
