.mainWrapperAbout {
  margin-top: 6%;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.wrapperAbout {
  max-width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 0px 15px 0px 15px;
  min-height: calc(100vh - 83px);
}

.header {
  margin-bottom: 6%;
}

.slogan {
  font-weight: 200;
  letter-spacing: 0.2em;
}

.mission {
  font-size: 18px;
  max-width: 80%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 6%;
  line-height: 150%;
}

.summaryHeadline {
  letter-spacing: 0.1em;
  font-size: 20px;
  font-weight: 400;
  margin-top: 20%;
}

.summaryContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 3%;
  flex-wrap: wrap;
}

.summary {
  display: flex;
  flex-direction: column;
  gap: 70px;
  margin-bottom: 9%;
}

.meditateBreath {
  display: flex;
  align-items: center;
  gap: 100px;
}
.workoutYoga {
  display: flex;
  align-items: center;
  gap: 100px;
}

.teamHeader {
  letter-spacing: 0.03em;
  font-size: 28px;
  margin-bottom: 6%;
}

.card {
  min-height: 10px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.cardImg {
  border-radius: 50%;
  object-fit: cover;
  border-style: none;
}

.cardContent {
  padding: 20px;
  display: flex;
  flex: 1 0 auto;
  display: grid;
  grid-template-rows: auto 2fr;
}

.picName {
  font-size: 18px;
  font-weight: 500;
  margin-top: 6%;
  margin-bottom: 2%;
}

.picText {
  font-size: 16px;
  font-weight: 300;
  margin-top: 0;
}

.favQuote {
  font-weight: 400;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 768px) {
  .wrapper {
    height: 100vh;
  }

  .header {
    margin-bottom: 0px;
  }

  .mission {
    max-width: none;
    font-weight: 300;
    margin-bottom: 0px;
  }

  .wrapperAbout {
    max-width: none;
    gap: 50px;
  }

  .summary {
    margin-bottom: 0%;
  }

  .picName {
    margin-top: 0%;
    margin-bottom: 0%;
  }

  .card {
    margin-bottom: 10px;
    border-bottom: 0.5px dotted black;
  }
  .headline {
    margin-top: 6%;
  }

  .hideMobile {
    display: none;
  }


  .summaryHeadline {
    margin-top: 0%;
  }


  .summary {
    gap: 30px;
  }

  .teamHeader {
    margin-bottom: 0%;
  }

  .meditateBreath {
    gap: 40px;
  }
  .workoutYoga {
    gap: 40px;
  }
}
