.main {
  min-height: 100vh;
  margin-bottom: 12%;
  margin-top: 6%;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 3rem;
  font-weight: 400;
}

.descriptionContainer {
  display: flex;
  justify-content: center;
}

.webDesc {
  font-weight: 300;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 3rem;
  max-width: 900px;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  text-align: center;
  justify-content: center;
  color: #0d1f22;
}

.card {
  background-color: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 300px;
  display: flex;
  flex-direction: column;
}

.cardVideo {
  border-style: none;
  width: 100%;
  height: 200px;
  border-radius: 10px 10px 0 0;
}

.cardContent {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 0 auto;
}

.dropdownCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

.cardTitle {
  font-size: 18px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 10px;
  height: 48px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cardDescription {
  font-size: 16px;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 10px;
}

.cardContent {
  display: grid;
  grid-template-rows: auto 2fr;
}

/* design för selectvalen */

.select {
  font-size: 18px;
  background-color: #f5f0e4;
  height: 40px;
  color: #333;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  border: black 1px solid;
}

/* design där vi har lagt taggarna i */

.tagContainer {
  display: flex;
  justify-content: center;
  padding-bottom: 5%;
}
