.emojiContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.happyStressContainer,
.tiredAllContainer {
  display: flex;
  gap: 30px;
}

.happyLink,
.tiredLink,
.stressedLink,
.allLink {
  text-decoration: none;
}

.tiredCircle,
.happyCircle,
.stressedCircle,
.allCircle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  text-decoration: none;
  transition: all 0.5s ease;
}

.tiredCircle:hover,
.happyCircle:hover,
.stressedCircle:hover,
.allCircle:hover {
  scale: 1.1;
  transition: all 0.5s ease;
}

.tiredCircle {
  background-color: #181d31;
  color: white;
}

.happyCircle {
  background-color: #ffc0c0;
  color: black;
}

.stressedCircle {
  background-color: #bfeaf5;
  color: black;
}

.allCircle {
  background-color: #faedcd;
  color: black;
  border: 1px solid black;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 60px;
  margin-top: 20px;
  padding: 0px 15px 0px 15px;
  max-width: 700px;
  height: 100vh;
}

.mainwrapper {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .wrapper {
    height: 100vh;
  }
  .tiredCircle,
  .happyCircle,
  .stressedCircle,
  .allCircle {
    width: 100px;
    height: 100px;
  }

  .tiredCircle:hover,
  .happyCircle:hover,
  .stressedCircle:hover,
  .allCircle:hover {
    scale: 1.1;
    transition: all 0.5s ease;
  }
}
