.emojiContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.happyStressContainer,
.tiredAllContainer {
  display: flex;
  gap: 30px;
}

.happyLink,
.tiredLink,
.stressedLink,
.allLink {
  text-decoration: none;
}

.tiredCircle,
.happyCircle,
.stressedCircle,
.allCircle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  text-decoration: none;
  transition: all 0.5s ease;
}

.tiredCircle:hover,
.happyCircle:hover,
.stressedCircle:hover,
.allCircle:hover {
  scale: 1.1;
  transition: all 0.5s ease;
}

.tiredCircle {
  background-color: #181d31;
  color: white;
}

.happyCircle {
  background-color: #7a9b77;
  color: black;
}

.stressedCircle {
  background-color: #d66853;
  color: black;
}

.allCircle {
  background-color: #fede98;
  color: black;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 60px;
  padding: 0px 15px 0px 15px;
  max-width: 700px;
  height: calc(100vh - 83px);
}

.mainwrapper {
  display: flex;
  justify-content: center;
}

.lungaWrapper {
  height: 100vh;
  gap: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.breathHeader {
  position: absolute;
  top: 200px;
}

@media screen and (max-width: 768px) {
  .wrapper {
    height: 100vh;
  }
  .tiredCircle,
  .happyCircle,
  .stressedCircle,
  .allCircle {
    width: 100px;
    height: 100px;
  }

  .tiredCircle:hover,
  .happyCircle:hover,
  .stressedCircle:hover,
  .allCircle:hover {
    scale: 1.1;
    transition: all 0.5s ease;
  }
}

.breathForm {
  display: flex;
  gap: 20px;
}

.breathForm input {
  background-color: #faedcd;
  height: 30px;
  padding: 10px;
  border: black 1px solid;
  border-radius: 10px;
}
