.scrollWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.scrollArrow {
  scale: 1;
  transition: all ease-in 0.5s;
}

.scrollArrow:hover {
  scale: 1.2;
  transition: all ease-in 0.5s;
  cursor: pointer;
}
