.scrollButton {
  background-color: #faedcd;
  justify-content: flex-end;
  border: 0px;
  transition: all ease-in 0.5s;
  font-weight: bolder;
}

.scrollButton:hover {
  cursor: pointer;
}

.scrollWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transition: all 0.5s ease-in-out;
}

.arrow:hover {
  scale: 1.5;
  transition: all 0.5s ease-in-out;
}
